
@{
    ViewBag.Title = "ShowForm";
}

<h2>ShowForm</h2>
<form method="post" action="/Lab/TestInput">
    First name: <input type="text" name="FirstName" /> <br />
    Last name: <input type="text" name="LastName" /> <br />
    <input type="submit" name="OK" value="OK" />
</form>
